body{
	background-image:url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.a{
	font-family: cursive;
	font-size:40px ;
	color: maroon;
}
.b{
	font-family: cursive;
	font-size: 20px;
	color: darkgreen;
}