.a{
	font-family:fantasy;
	font-size: 30px;
	color:orange;
}
.b{
	font-size:20px;
	font-family:cursive;
	color:white;
}
.c{
	font-family: cursive;
	font-size: 20px;
	color:black;
}
.d{
	font-family: cursive;
	font-size: 15px;
	color:maroon;
}
.e{
	font-family: cursive;
	font-size: 15px;
	color:maroon;
}
.f{
	font-family: cursive;
	font-size: 15px;
	color:darkgreen;
}
.g{
	font-family: cursive;
	font-size: 15px;
	color:blue;
}